body {
    color: rgb(0, 0, 0);
    background-color: rgb(250, 236, 218);
}

.card {
	background: rgb(240, 204, 156);
}

.container__message {
	color: white;
    background-color: rgb(209, 166, 109);
}

.searchBar__title {
	color: rgb(31, 1, 1);
}

.searchBar__button {
	background: white;
	color: black;
}


