* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	background: #cacaff;
	max-height: 100vh;
	max-width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	gap: 10vh;
	padding: 10vh;
}

.searchBar {
	width: 80vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.searchBar__title {
	flex-basis: 50%;
	flex-grow: 1;
    font-weight: bolder;
}

.searchBar__input {
	min-height: 1rem;
	flex-grow: 1;
}

.searchBar__button {
	min-height: 1.5em;
	flex-grow: 1;
	border: none;
	cursor: pointer;
	display: none;
}

.container {
	width: 80vw;
}

.container__grid {
	padding-bottom: 30px;
}

.container__grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	grid-gap: 2rem;
}

.container__message {
	text-align: center;
	font-size: 2rem;
	grid-column: 1/6;
}

.card {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	min-height: 10rem;
	max-height: 15rem;
	border-radius: 30px;
}

.card__name {
	font-weight: 500;
    font-weight: bolder;
}

.card__category {
    font-style: italic;
}

.locals, .localsProvincia {
	list-style-type: none;
	display: inline-block;
}

div li {
	padding: 15px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(190, 172, 172);
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 0.2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: rgb(17, 17, 17);
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px rgb(17, 17, 17);
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 35px;
  }
  
  .slider.round:before {
	border-radius: 60%;
  }



  ul li {
	  font-size: 15px;
	  display: inline-block;
  }

  .locales__title--position {
	  text-align: center;
  }

  .searchBar__input {
    padding-right: 15px;
    padding-left: 15px;
}

.dark__display h2, label {
	display: inline-block;
}


.dark__title--size {
	font-size: 15px;
}


.dark__title--padding{
	padding-right: 10px;
	font-weight: bolder;
}

body {
    color: rgb(0, 0, 0);
    background-color: rgb(250, 236, 218);
}
#seccionContacto__titulo {
	text-align: center;
}

.navbar-brand {
	font-weight: bolder;
	font-size: 2.5rem;
	font-style: italic;
}

.active {
	font-weight: bold;
}

